@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #333333;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.container {
  width: 70%;
  margin: auto;
}

.mtb-10 {
  margin: 10px 0;
}

.mtb-30 {
  margin: 30px 0;
}

.text-center {
  text-align: center;
}

.treezy {
  color: #7ac251;
  font-weight: bold;
  text-decoration: none;
}

.shawn-heading {
  margin-bottom: -55px;
  margin-left: 100px;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.six-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-align {
  text-align: justify;
}

#message-status {
  margin-left: 5px;
}

video {
  width: 100%;
  height: auto;
}

#showcase-video {
  display: block;
  opacity: 1;
}

.banjee-classy {
  width: 80%;
  margin: 200px auto;
  background: #000;
  padding: 60px 0;
}

.left {
  text-align: left;
  padding: 20px 40px;
}

.right {
  text-align: right;
  padding: 20px 40px;
}

.meaning {
  margin-left: 20px;
  padding: 5px 10px 5px 12px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.meaning:hover {
  background: #fff;
  color: #000;
}

.back-button {
  padding: 5px 12px 5px 10px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.back-button:hover {
  background: #fff;
  color: #000;
}

.invitation-content {
  top: 0;
  left: 0;
  opacity: 0.6;
  padding: 10px;
  width: 70%;
  margin: 10px auto;
  color: #fff;
  z-index: 1;
  border-radius: 4px;
  background: #000000;
}

.invitation-header h3 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 6px;
}

.time-address {
  letter-spacing: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.cursive {
  font-family: Snell Roundhand, Brush Script MT, Brush Script Std, cursive;
  font-size: 100px;
}

.birthday-tagline {
  letter-spacing: 2px;
}

.banjee {
  /* font-family: Degrassi, Bradley Hand, cursive; */
  font-family: 'Faster One', cursive;
  font-size: 50px;
  padding-left: 8px;
}

.classy {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 50px;
}

.heading-banjee {
  font-family: Degrassi, Bradley Hand, cursive;
}

.heading-classy {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.going-button {
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.going-button:hover {
  background: red;
  color: #fff;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.r18-label {
  color: red;
}

.happening-now {
  background: red;
  color: #fff;
}

.footer {
  margin: 20px auto 20px auto;
}

.sound-buttons {
  margin-top: 10px;
}

#soundItem {
  font-size: 30px;
  background: #000000;
  color: #fff;
}

button {
  border: none;
}

.timer {
  width: 70%;
  margin: auto;
  font-weight: bold;
}

.number-container {
  background: #fff;
  color: #000;
  margin: auto;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 30px;
  margin: auto;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .invitation-content {
    margin: 150px auto 0 auto;
  }
  #showcase-video {
    opacity: 0.8;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .footer {
    margin-top: 100px;
    opacity: 0.8;
    margin-bottom: 25px;
  }

  .timer {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
