@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #333333;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.treezy {
  color: #7ac251;
  font-weight: bold;
  text-decoration: none;
}

#showcase-video {
  opacity: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.invitation-content {
  top: 0;
  left: 0;
  background: #333333;
  opacity: 0.8;
  padding: 10px 0;
  width: 100%;
  margin: 350px auto 0 auto;
}

.footer {
  margin-top: 420px;
  opacity: 0.8;
}
